version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'daily'
    commit-message:
      prefix: 'chore(deps): update'
    ignore:
      - dependency-name: '@types/node'
        update-types:
          - version-update:semver-major
    labels:
      - 'dependencies'
      - 'dependabot'
